@mixin border($color){
  border: 1px solid $color;
  //border-right: 1px solid $color;
}

@mixin social {
  display: block;  
  width: 75%;
}

@mixin button {
  width: 20%;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid darkgray;
  padding: 5px; 
}

@mixin mq($break) {
  $value: map-get($breakpoints, $break);

  @media (min-width: $value) {
    @content;
  }

}