header {
  text-align: center;
  padding-top: 30px;
  margin: 0 15px;
  & h1 {
    font-size: 19px;
    margin: 0 0 20px 15px;
    color: rgb(95, 95, 95);
    margin-left: 0;
  }

  @include mq('med') {
    justify-content: left;
    padding-top: 30px;
    margin: 0;
    text-align: left;
    font-size: 18px;
  }
}